GENEeSYS-MOD/scripts/genesysmod_to_iamc/out/
GENEeSYS-MOD/scripts/GENeSYS-MOD-Pathways.xlsx
GENEeSYS-MOD/scripts/.ipynb_checkpoints/
GENEeSYS-MOD/scripts/genesysmod_to_iamc/__pycache__/
GENEeSYS-MOD/scripts/genesysmod_to_iamc/.idea/
