GENeSYS-MOD/scripts/genesysmod_to_iamc/out/
GENeSYS-MOD/scripts/GENeSYS-MOD-Pathways.xlsx
GENeSYS-MOD/scripts/.ipynb_checkpoints/
GENeSYS-MOD/scripts/genesysmod_to_iamc/__pycache__/
GENeSYS-MOD/scripts/genesysmod_to_iamc/.idea/
